In [118]:
# TODO: 1) Use these imports
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import auc, roc_curve, confusion_matrix
from sklearn.metrics import accuracy_score

# TODO: 2)
#  Get the data into a pandas dataframe
data = pd.read_csv("../../data/AB_NYC_2019.csv", sep=",")

# TODO: 3)
#  Add a column to the dataframe: “is_cheap”,
#  that contains boolean values for the price being below median.
#  Hint: DataFrame has a median() method. This column contains our target data: y
data["isCheap"] = data.price < data.price.median()
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,isCheap
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,False
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,True
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9,True
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36,True
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27,False
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2,True
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23,True

In [119]:
# TODO: 4)
#  Create a Classifier model with KNeighborsClassifier()
#  and give it an arbitrary number for the n_neighbors argument
classifier = KNeighborsClassifier(n_neighbors=10)

# TODO: 5) Create input data: X as a DataFrame containing only longitude and latitude.
lat_lon_data = { "longitude": data.longitude,
                 "latitude": data.latitude}
X = pd.DataFrame(lat_lon_data)
y = data.isCheap
X

       longitude  latitude
0      -73.97237  40.64749
1      -73.98377  40.75362
2      -73.94190  40.80902
3      -73.95976  40.68514
4      -73.94399  40.79851
...          ...       ...
48890  -73.94995  40.67853
48891  -73.93317  40.70184
48892  -73.94867  40.81475
48893  -73.99112  40.75751
48894  -73.98933  40.76404

[48895 rows x 2 columns]

In [120]:
# TODO: 6) Based on X and y above, split data into training
#  and test data using train_test_split() method with 33% test data.
X_train, X_test, y_train, y_test = train_test_split(
             X, y, test_size = 0.33, random_state=42)

# TODO: 7) Fit the model with the training data. Hint: knn_class.fit(X_train, y_train)
classifier.fit(X_train, y_train)

# TODO: 8) And make predictions with the test data. Hint: knn_class.predict(X_test)
y_pred = classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred) * 100
# Accuracy Score
accuracy

69.86241943480417

In [121]:
# TODO: 9) Now we have our target and our predictions, and we need to compare them to see how well our model have done. For this we ca use the roc_curve method like this: fpr, tpr, _ = roc_curve(y_test, y_pred, pos_label=True) where pos_label lets the algorithm know that our data uses boolean in the target column. This gives us the True Positive Rate (TPR) and the False Positive Rate (FPR). ROC Curve works by plotting the fraction of true positives out of the positives (TPR = true positive rate) vs. the fraction of false positives out of the negatives (FPR = false positive rate), at various threshold settings. Finally, we use the auc(fpr,tpr) function to get an AUC_Score (This score is 1 when the model had 100% correct predictions and less than 1 for less perfect accuracy score. The result should be around .7 which is not a great prediction accuracy rate, but its a start and we can try to improve it by adding more data features to the model.
fpr, tpr, _ = roc_curve(y_test, y_pred, pos_label=True)
auc(fpr,tpr)

0.6987299270173918

In [123]:

# TODO: 10.1) First we need to One-Hot encode the data of 3 columns:[‘neighbourhood’,‘neighbourhood_group’,‘room_type’].
#  Hint: Use pandas get_dummies method (see example in the clustering with titanic notebook.
neighbourhood_dict = {"id": data.id,
                      "neighbourhood": data.neighbourhood,
                      "neighbourhood_group": data.neighbourhood_group,
                      "room_type": data.room_type}
neighbourhood_data = pd.DataFrame(neighbourhood_dict)
OHE_data = pd.get_dummies(data,columns=['neighbourhood', 'neighbourhood_group', 'room_type'])
# TODO: 10.2) With these new columns in the dataframe do the train_test_split operation again
#  to get 33% test data and 67% training data for both input data X and target/labels y.
X = OHE_data
X

,id,name,host_id,host_name,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,...,neighbourhood_Woodrow,neighbourhood_Woodside,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,149,1,9,2018-10-19,...,0,0,0,1,0,0,0,0,1,0
1,2595,Skylit Midtown Castle,2845,Jennifer,40.75362,-73.98377,225,1,45,2019-05-21,...,0,0,0,0,1,0,0,1,0,0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,40.80902,-73.94190,150,3,0,NaN,...,0,0,0,0,1,0,0,0,1,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,40.68514,-73.95976,89,1,270,2019-07-05,...,0,0,0,1,0,0,0,1,0,0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,40.79851,-73.94399,80,10,9,2018-11-19,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,40.67853,-73.94995,70,2,0,NaN,...,0,0,0,1,0,0,0,0,1,0
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,40.70184,-73.93317,40,4,0,NaN,...,0,0,0,1,0,0,0,0,1,0
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,40.81475,-73.94867,115,10,0,NaN,...,0,0,0,0,1,0,0,1,0,0
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,40.75751,-73.99112,55,1,0,NaN,...,0,0,0,0,1,0,0,0,0,1
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,40.76404,-73.98933,90,7,0,NaN,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# TODO: 10.3) Normalize both training and test data with StandardScaler.
#  Hint: StandardScaler().fit(X_train[independent_variables])
#  where independent_variables is a list of all the columns we want to use in the model
#  (There are many so a quick way to get the names of those columns that we One-Hot encoded is by using a list comprehension like this: [col for col in df if col.startswith('neighbourhood') or col.startswith('room_type')].
#  Then just add the 'latitude', 'longitude','number_of_reviews' and 'reviews_per_month' columns.

independent_values = [col for col in OHE_data if col.startswith("neighbourhood") or col.startswith("room_type")]
independent_values.append(data.latitude.name)
independent_values.append(data.longitude.name)
independent_values.append(data.number_of_reviews.name)
independent_values.append(data.reviews_per_month.name)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,  train_size=0.67, random_state=42)

scaler = StandardScaler()
scaler.fit(X_train[independent_values])

# TODO: 10.4) Now get the normalized training data with something like: X_train_norm = np.nan_to_num(scaler.transform(X_train[independent_variables])) where np.nan_to_num() is used to swap NAN for zeros.
X_train_norm = np.nan_to_num(scaler.transform(X_train[independent_values]))

# TODO: 10.5) Do the same with the test data
X_test_norm = np.nan_to_num(scaler.transform(X_test[independent_values]))

# TODO: 10.6) Now create a KNeighborsClassifier model like last time and fit it with the training data and the training targets
kn_classifier = KNeighborsClassifier(n_neighbors=10)
kn_classifier.fit(X_train_norm, y_train)

# TODO: 10.7 ) Get predictions on the test data and produce the AUC score like last time. Is it improved?
y_pred = classifier.predict(X_test_norm)
fpr, tpr, threshold = roc_curve(y_test, y_pred, pos_label=True)
print(auc(fpr, tpr))